pipeline/04 foreach.json
{
	"name": "04 foreach",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.numbers",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "number",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output of append",
					"value": {
						"value": "@variables('number')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"numbers": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			}
		},
		"variables": {
			"number": {
				"type": "Array"
			},
			"output of append": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-04T09:13:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}